@charset "UTF8";


:root{
    --efeitoBrilhanteBlack: 0 0 5px black, 0 0 10px black, 0 0 20px black, 0 0 30px black;
    --efeitoBrilhanteBlue: 0 0 5px #0a5daa, 0 0 10px #0a5daa, 0 0 20px #0a5daa, 0 0 30px #0085FF;
    --efeitoBrilhanteRed: 0 0 5px white, 0 0 10px white, 0 0 20px red, 0 0 30px white;
    
}

@media all and (min-width: 1010px) and (max-width: 1115px) {
     /*Pagina de serviço*/
     #serviços{
        margin-top: 20%;
    }


    /*Pagina do Blog*/
    #blog #top{   
        margin-top: 14%;
        
    }
    #curiosidades{
        gap: 10px 20px; /* Espaçamento entre os itens */
        justify-content: center; /* Garante que os itens fiquem centralizados */
    }
    #blocosCuriosidades1, #blocosCuriosidades2{
        max-width: 600px; /* Define um limite */
        min-width: 400px;
        justify-content: space-between; /* Mantém os elementos bem distribuídos */
        align-items: center;
    }


    /*Pagina quem somos*/
    #qSomos #section1{
        margin-top: 14%;
    }
    

    
    /*Pagina da Marcas*/
    .mainMarcas #top{
        margin-top: 14%;
    }
    #galery #fotos{
        width: 85%;
    }



    /*Pagina LavaCar*/
    #lavaCar #top{
        margin-top: 14%;
    }
    #lavaCar #groupLCar{
        width: 90%;
    }
    #groupLCar img{
        width: 400px;
    }
    #group2LCar img{
        width: 80px;
        margin: 10px;
    }
    #groupLCar h5 img{
        display: block;
        width: 30px; margin-bottom: -25px; margin-left: 0px;
    }
}




@media all and (min-width: 960px) and (max-width: 1009px) { 
    /*Pagina de serviço*/
    #serviços{
        margin-top: 10%;
    }
    .blocoServ2{
        margin-bottom: 5px;
        width: 99%;
    }



    /*Pagina do Blog*/
    #blog #top{   
        margin-top: 12%;
        
    }
    #curiosidades{
        gap: 10px 20px; /* Espaçamento entre os itens */
        justify-content: center; /* Garante que os itens fiquem centralizados */
    }
    #blocosCuriosidades1, #blocosCuriosidades2{
        max-width: 600px; /* Define um limite */
        min-width: 400px;
        justify-content: space-between; /* Mantém os elementos bem distribuídos */
        align-items: center;
    }


    /*Pagina quem somos*/
    #qSomos #section1{
        margin-top: 10%;
    }


    /*Pagina da Marcas*/
    .mainMarcas #top{
        margin-top: 10%;
    }
    #galery #fotos{
        display: block;
        columns: 3;
    }



    /*Pagina LavaCar*/
    #lavaCar #top{
        margin-top: 12%;
    }
    #lavaCar #groupLCar{
        width: 93%;
    }
    #groupLCar img{
        width: 400px;
    }
    #group2LCar img{
        width: 80px;
        margin: 10px;
    }
    #groupLCar h5 img{
        display: block;
        width: 30px; margin-bottom: -25px; margin-left: 0px;
    }
}





@media all and (min-width: 870px) and (max-width: 959px) { /*para tablets grandes*/ 
    /*Pagina de serviço*/
    #serviços{
        margin-top: 17%;
    }
    .blocoServ2{
        width: 100%;
    }
    .blocoServ2 div{
        padding: 5px;
        margin: 0%;
    }
    .blocoServ2 img{ /*imagens dos serviços*/
        padding: 5px;
    }
    .blocoServ2 p{
        padding: 5px;
    }



    /*Pagina do Blog*/
    #blog #top{   
        margin-top: 15%;
        
    }
    #curiosidades{
        gap: 10px 20px; /* Espaçamento entre os itens */
        justify-content: center; /* Garante que os itens fiquem centralizados */
    }
    #blocosCuriosidades1, #blocosCuriosidades2{
        max-width: 600px; /* Define um limite */
        min-width: 400px;
        justify-content: space-between; /* Mantém os elementos bem distribuídos */
        align-items: center;
    }


    /*Pagina quem somos*/
    .headerQSomosH1 h3{
        font-size: 1.8em;
    }
    #qSomos #section1{
        margin-top: 12%;
    }



    /*Pagina da Marcas*/
    .mainMarcas #top{
        margin-top: 11%;
    }
    #galery #fotos{
        display: block;
        columns: 3;
    }



    /*Pagina LavaCar*/
    #lavaCar #top{
        margin-top: 12%;
    }
    #lavaCar #groupLCar{
        flex-wrap: wrap; /* Permite que os elementos quebrem linha caso necessário */
    }
    #groupLCar img{
        width: 400px;
    }
    #group2LCar img{
        width: 80px;
        margin: 10px;
    }
    #groupLCar h5 img{
        display: block;
        width: 30px; margin-bottom: -25px; margin-right: 0px;
    }

}





@media all and (min-width: 800px) and (max-width: 869px) { /*para tablets medios*/ 

    /*Pagina de serviço*/
    #serviços{
        margin-top: 20%;
    }
    .blocoServ2{
        display: inline-block;
        columns: 2;
        width: 80%;
    }
    .blocoServ2 div{
        margin: 0%;
    }
    .blocoServ2 img{ /*imagens dos serviços*/
        padding: 5px;
    }
    .blocoServ2 p{
        padding: 5px;
    }



    /*Pagina do Blog*/
    #blog #top{   
        margin-top: 20%;
        
    }
    #curiosidades{
        gap: 10px 20px; /* Espaçamento entre os itens */
        justify-content: center; /* Garante que os itens fiquem centralizados */
    }
    #blocosCuriosidades1, #blocosCuriosidades2{
        max-width: 600px; /* Define um limite */
        min-width: 350px;
        justify-content: space-between; /* Mantém os elementos bem distribuídos */
        align-items: center;
    }



    /*Pagina quem somos*/
    .headerQSomosH1 h3{
        font-size: 1.4em;
    }
    #qSomos #section1{
        margin-top: 17%;
    }



    /*Pagina da Marcas*/
    .mainMarcas #top{
        margin-top: 15%;
    }
    #galery #fotos{
        display: block;
        columns: 3;
    }



    /*Pagina LavaCar*/
    #lavaCar #top{
        margin-top: 15%;
    }
    #lavaCar h1{
        margin-bottom: -40px;
    }
    #lavaCar #groupLCar{
        flex-wrap: wrap; /* Permite que os elementos quebrem linha caso necessário */
        width: 100%;
    }
    #groupLCar img{
        width: 450px;
    }
    #group2LCar img{
        width: 80px;
        margin: 10px;
    }
    #groupLCar h5 img{
        display: block;
        width: 30px; margin-bottom: -25px; margin-right: 0px;
    }
}




@media all and (min-width: 660px) and (max-width: 799px) { /*para tablets pqnos*/ 
    /*Pagina de serviço*/
    #serviços{
        margin-top: 20%;
        display: block;
        align-items: center;
    }
    .blocoServ2{
        display: inline-block;
        columns: 2;
        width: 95%;
    }
    .blocoServ2 div{
        margin: 0%;
        height: 350px;
    }
    .blocoServ2 img{ /*imagens dos serviços*/
        padding: 5px;
    }
    .blocoServ2 p{
        padding: 5px;
    }


    /*Pagina do Blog*/
    #blog #top{   
        margin-top: 20%;
        
    }
    #curiosidades{
        gap: 10px 20px; /* Espaçamento entre os itens */
        justify-content: center; /* Garante que os itens fiquem centralizados */
    }
    #blocosCuriosidades1, #blocosCuriosidades2{
        max-width: 600px; /* Define um limite */
        min-width: 300px;
        justify-content: space-between; /* Mantém os elementos bem distribuídos */
        align-items: center;
    }



    /*Pagina quem somos*/
    #qSomos #section1{
        margin-top: 20%;
    }



    /*Pagina da Marcas*/
    .mainMarcas #top{
        margin-top: 20%;
    }
    #galery #fotos{
        display: block;
        columns: 3;
    }



    /*Pagina LavaCar*/
    #lavaCar #top{
        margin-top: 22%;
    }
    #lavaCar h1{
        margin-bottom: -40px;
    }
    #lavaCar #groupLCar{
        flex-wrap: wrap; /* Permite que os elementos quebrem linha caso necessário */
        width: 100%;
        margin: 0%;
    }
    #groupLCar img{
        width: 400px;
    }
    #group2LCar img{
        width: 80px;
        margin: 10px;
    }
    #groupLCar h5 img{
        display: block;
        width: 30px; margin-bottom: -25px; margin-right: 0px;
    }
}




@media all and (min-width: 530px ) and (max-width: 659px){ /*tive que fazer outro menor*/ 
    /*Pagina de serviço*/
    #serviços{
        margin-top: 30%;
        display: block;
        align-items: center;
    }
    .blocoServ2{
        display: inline-block;
        columns: 2;
        width: 100%;
        margin: auto;
    }
    .blocoServ2 div{
        margin: 0%;
        height: 350px;
        width: 260px;
    }
    .blocoServ2 img{ /*imagens dos serviços*/
        padding: 5px;
    }
    .blocoServ2 p{
        padding: 5px;
    }


    
    /*Pagina do Blog*/
    #blog #top{   
        margin-top: 30%;
        
    }
    #curiosidades{
        gap: 10px 20px; /* Espaçamento entre os itens */
        justify-content: center; /* Garante que os itens fiquem centralizados */
    }
    #blocosCuriosidades1, #blocosCuriosidades2{
        max-width: 600px; /* Define um limite */
        min-width: 450px;
        justify-content: space-between; /* Mantém os elementos bem distribuídos */
        align-items: center;
    }



    /*Pagina quem somos*/
    #qSomos #section1{
        margin-top: 30%;
    }
    .container{
        display: block;
    }
    #imgqSomos{
       display: flex;
       flex-direction: row;
       justify-content: space-evenly;
    }
    #imgqSomos img{
        width: 250px;
        padding: 0px;
    }



    /*Pagina da Marcas*/
    .mainMarcas #top{
        margin-top: 25%;
    }
    #galery #fotos{
        display: ruby;
    }



    /*Pagina LavaCar*/
    #lavaCar #top{
        margin-top: 30%;
    }
    #lavaCar h1{
        margin-bottom: -20px;
    }
    #lavaCar #groupLCar{
        flex-wrap: wrap; /* Permite que os elementos quebrem linha caso necessário */
        width: 100%;
        margin: 0%;
    }
    #lavaCar #groupLCar ul{
        padding-top: 0px; 
    }
    #groupLCar img{
        width: 400px;
    }
    #group2LCar img{
        width: 80px;
        margin: 10px;
    }
    #groupLCar h5 img{
        display: block;
        width: 30px; margin-bottom: -25px; margin-right: 0px;
    }
}



@media all and (min-width: 450px ) and (max-width: 529px) { /*para celular*/ 
    /*Pagina de serviço*/
    #serviços{
        margin-top: 40%;
        display: flex;
        flex-direction: column;
    }
    .blocoServ2{
        display: flex;
        flex-direction: column;
        align-items: center; /* Centraliza os itens no eixo horizontal */
        gap: 15px; /* Espaçamento entre os itens */
        max-width: 500px; /* Ajusta a largura máxima */
    }
    .blocoServ2 div{
        margin: 0%; padding: 0%; padding: 10px;
        height: 310px;
        min-width: 400px;
        max-width: 450px;
    }
    .blocoServ2 img{ /*imagens dos serviços*/
        padding: 5px;
    }
    .blocoServ2 p{
        padding: 5px;
    }



    /*Pagina do Blog*/
    #blog #top{   
        margin-top: 35%;
    }
    #blog h1{
        display: block;
        color: blue;
        text-shadow: var(--efeitoBrilhanteRed);
    }
    #curiosidades{
        gap: 10px 20px; /* Espaçamento entre os itens */
        justify-content: center; /* Garante que os itens fiquem centralizados */
    }
    #blocosCuriosidades1, #blocosCuriosidades2{
        max-width: 600px; /* Define um limite */
        min-width: 430px;
        justify-content: space-between; /* Mantém os elementos bem distribuídos */
        align-items: center;
    }



    /*Pagina quem somos*/
    #qSomos #section1{
        margin-top: 35%;
    }
    .container{
        display: block;
    }
    #imgqSomos{
       display: block;
       text-align: center;
    }



    /*Pagina da Marcas*/
    .mainMarcas #top{
        margin-top: 30%;
    }
    #galery #fotos{
        display: contents;
    }



    /*Pagina LavaCar*/
    #lavaCar #top{
        margin-top: 35%;
    }
    #lavaCar h1{
        margin-bottom: -10px;
    }
    #lavaCar #groupLCar{
        flex-wrap: wrap; /* Permite que os elementos quebrem linha caso necessário */
        width: 100%;
        margin: 0%;
    }
    #lavaCar #groupLCar ul{
        padding-top: 0px; 
    }
    #groupLCar img{
        width: 400px;
    }
    #group2LCar img{
        width: 80px;
        margin: 10px;
    }
    #groupLCar h5 img{
        display: block;
        width: 30px; margin-bottom: -25px; margin-right: 0px;
    }
}



@media all and (min-width: 320px ) and (max-width: 449px) { /*para celular menores*/
    /*Pagina de serviço*/
    #serviços{
        margin-top: 40%;
        display: flex;
        flex-direction: column;
    }
    .blocoServ2{
        display: flex;
        flex-direction: column;
        align-items: center; /* Centraliza os itens no eixo horizontal */
        gap: 15px; /* Espaçamento entre os itens */
        max-width: 500px; /* Ajusta a largura máxima */
    }
    .blocoServ2 div{
        margin: 0%; margin-bottom: 10px; padding: 0%; padding: 10px;
        min-width: 300px;
        max-width: 460px;
    }
    .blocoServ2 img{ /*imagens dos serviços*/
        padding: 5px;
    }
    .blocoServ2 p{
        padding: 5px;
    }



    /*Pagina do Blog*/
    .headerBlogH1 h1{
        display: none;
    }
    .headerBlogH1 h3{
        display: none;
    }
    
    #blog #top{   
        margin-top: 40%;
    }
    #blog h1{
        display: block;
        color: red;
        text-shadow: var(--efeitoBrilhanteRed);
    }
    #curiosidades{
        gap: 10px; /* Espaçamento entre os itens */
        justify-content: center; /* Garante que os itens fiquem centralizados */
    }
    #blocosCuriosidades1, #blocosCuriosidades2{
        max-width: 400px; /* Define um limite */
        min-width: 350px;
        justify-content: space-between; /* Mantém os elementos bem distribuídos */
        align-items: center;
    }



    /*Pagina quem somos*/
    #qSomos #section1{
        margin-top: 40%;
    }
    .container{
        display: block;
    }
    #imgqSomos{
       display: block;
       text-align: center;
    }

    .headerQSomosH1 h3{
        display: none;
    }



    /*Pagina da Marcas*/
    .headerMarcas h3{
        display: none;
    }
    .mainMarcas #top{
        margin-top: 40%;
    }
    #galery #fotos{
        display: ruby;
    }
    #galery #fotos img{
        margin: 0%; margin: 20px;
    }




    /*Pagina LavaCar*/
    #lavaCar #top{
        margin-top: 40%;
    }
    #lavaCar h1{
        margin-bottom: -10px;
    }
    #lavaCar #groupLCar{
        display: block;
        /*flex-wrap: wrap; /* Permite que os elementos quebrem linha caso necessário */
        width: 100%;
        margin: 0%;
        text-align: center;
    }
    #lavaCar #groupLCar ul{
        padding-top: 0px; 
    }
    #groupLCar img{
        display: none;
    }
    #groupLCar h5 img{
        display: block;
        width: 30px; margin-bottom: -25px; margin-right: 0px;
    }
    #group2LCar{
        margin-bottom: 30px;
    }
    #group2LCar img{
        width: 80px;
        margin: 10px;
    }
}